body {
    text-align: center;
}

h1 {
    margin: 3rem;
}

img {
    display: inline-block;
    margin: 4rem 3rem;
    min-width: 160px;
    max-width: 160px;
    min-height: 120px;
    max-height: 120px;
}

button {
    margin: 1.5rem;
    font: inherit;
    font-weight: bold;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: brown;
    background-color: yellowgreen;
}

.input {
    margin: 2rem;
}